.wrapper {
    position: relative;
    max-width: 430px;
    margin: 0 auto;
    background-color: #111;
    z-index: 0;
}
#dim {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.75);
    display: none;

    &.on {
        display: block;
        z-index: 0;
    }
}
header {
    /* max-width: 430px; */
    z-index: 0;
    position: fixed;
    max-width: 430px;
    width: 100%;
    background-color: rgba(0, 0,0,0.75);

    .inner {
        position: relative;
        height: 60px;
        vertical-align: middle;
        max-width: 430px;
        /* width: 100%; */
        z-index: 1;
        /* margin: 0 auto; */
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inner .hd_logo {
        z-index: 1;
        width: 40px;
        height: 40px;
    }
}
.menu {
    z-index: 99999;
    position: fixed;
    height: 100%;
    width: 85%;
    /* opacity: 0; */
    top: 0;
    right: -85%;
    background-color: #fff;
    /* display: none; */
    /* padding: 0; */
    padding: 25px 5%;
    box-sizing: border-box;
    text-align: center;
    transition: right 0.5s ease;

    &.active {
        z-index: 9;
        right: 0;
        /* width: 85%; */
        /* padding: 25px 5%; */
        /* opacity: 1; */
        & .close {
            display: block;
        }
    }

    & img[alt="tab_logo"] {
        max-width: 50%;
        margin-bottom: 35px;
        object-fit: cover;
    }

    & .close {
        position: absolute;
        top: 30px;
        right: 30px;
        transform: translate(50%, -50%);
        display: none;

        & i {
            font-size: 2rem;

        }
    }
    & > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }
    & > ul > li {
        text-align-last: left;
        width: 100%;
        line-height: 30px;
        font-size: 1rem;

        &:first-child {
            font-weight: 600;
            padding: 10px;
            box-sizing: border-box;
        }
    }
    & > ul > li > a {
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #222;
        box-sizing: border-box;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;

        &.active {
            font-weight: 500;
            background-color: #46a487;
            /* line-height: 10px; */
            color: #fff;

        }

        &.active i {
            display: block;
            rotate: 180deg;
            color: #fff !important;
        }
    }
    & .dropdown {
        display: none;
        /* transition: height 0.5s ease; */
        &.active {
            display: block;
        }
    }
    & .dropdown li {
        line-height: 1;
        width: 100%;
        /* width: 80%; */
    }
    & .dropdown li a {
        display: block;
        line-height: 1;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.5;
        padding: 10px 10px 10px 20px;
        box-sizing: border-box;
        font-weight: 400;

        &:hover {
            color: #46a487;
            font-weight: 500;
        }
    }
}

main {
    z-index: -1;
    /* max-width: 100%; */
    position: relative;
    width: 100%;
    height: 760px;
    /* background-color: #ddd; */
    background: url("../images/main_img2.jpg") no-repeat center center;
    background-position: center;
    background-size: cover;

    .grd_bg {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.125),rgba(0, 0, 0, 1));
    }

    .inner {
        position: absolute;
        width: 100%;
        margin: 0 auto;

    }
    /* .inner video {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    } */

    .inner .main_logo {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-size: cover;

    }
    .inner .textbox {
        position: absolute;
        /* text-align: center; */
        width: 100%;
        /* max-width: 500px; */
        margin: 0 auto;
        top: 395px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inner .textbox .title {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 55px;
        padding-left: 25px;

        /* text-align: center; */
        h1 {
            color: #fff;
            font-weight: 500;
            font-size: 1.75rem;
            line-height: 1.2;
            margin-bottom: 15px;
        }
        p {
            color: #ccc;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1;
        }
    }
    .inner .about_playing {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 0 10%;
        max-width: 390px;
        margin: 0 auto;

        /* width: 80%; */
    }
    .inner .about_playing .play_now {
        /* height: auto; */
    }
    .inner .about_playing .play_now a {
        position: relative;
        display: block;
        /* margin: 0 20px; */

        img {
            display: block;
            object-fit: cover;
            margin: 0 auto;

        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
        }
        span p {
            white-space: nowrap;
            line-height: 1;
            font-size: 1rem;
            color: #fff;
            font-weight: 500;
        }
        i {
            position: absolute;
            font-size: 1.5rem;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    .inner .about_playing .watching_video {
        height: auto;
    }
    .inner .about_playing .watching_video a {
        position: relative;
        /* margin: 0 20px; */

        img {
            display: block;
            object-fit: cover;
            margin: 0 auto;

        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            white-space: nowrap;
            line-height: 1;
            font-size: 1rem;
            color: #444;
            font-weight: 400;
        }
    }
}
section {

    #page1 {
        /* margin-top: 20px; */

        .play_station {
            width: 40px;
        }

        .band {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 50px;
            background: #003388 url("../images/playstation.png") no-repeat center left 20px;
            background-size: 40px;
            padding: 0 10px 0 60px;
            height: 70px;
            box-sizing: border-box;
        }
        .band a {
            width: 100%;

        }
        .band a .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

        }
        .band a .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

        }
        .band .inner h3 {
            font-size: 1rem;
            margin-left: 15px;
            color: #fff;
            font-weight: 400;
            line-height: 1.25;
        }
        .band .inner .Shortcut p {
            display: block;
            padding: 0 30px;
            line-height: 50px;
            background-color: #09f;
            color: #fff;
            font-weight: 500;
        }
    }
    #page2 {
        padding-top: 60px;

        .inner {
            width: 100%;
        }

        .inner .title a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 25px;
            color: #fff;
            margin-bottom: 25px;
            border-bottom: 2px solid #444;
            line-height: 2;

            span {
                font-size: 1.125rem;
                padding-left: 10px;
            }
            i {
                font-size: 1.125rem;
                padding-right: 10px;

            }
        }
        .inner .video_container {
            max-width: 100%;
        }
        .inner .video_container ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
        .inner .video_container ul li {
            max-width: 100%;

            & img {
                width: 100%;
                height: 100%;
            }

            &:first-child {
                padding-left: 25px;
            }
            &:last-child {
                padding-right: 25px;

            }
        }

        .inner .video_container .character_info {
            margin-top: 20px;

            /* &:last-child{
                padding-left: 25px;
            } */

            h3 {
                font-size: 1.5rem;
                color: #fff;
                padding-left: 10px;
            }
            p {
                font-size: 0.875rem;
                color: #ccc;
                padding-left: 10px;

            }
        }
        .inner .video_container li:last-child .character_info {
            &:last-child {
                padding-left: 25px;
            }
        }
    }
    #page3 {
        margin-top: 60px;
        background: url("../images/page3_bg.jpg") no-repeat center center;
        background-size: cover;
        padding: 0 25px 30px;

        .inner {
            padding-top: 60px;
        }
        .inner .title {
            text-align: center;
            color: #fff;
            margin-bottom: 30px;

            & h2 {
                font-size: 1.25rem;
                font-weight: 500;
                margin-bottom: 15px;
            }
            & span {
                font-size: 0.75rem;
                line-height: 1.75;
                color: #999;
            }
        }
        .inner .hero {
            display: flex;
            align-items: center;
        }
        .inner .hero ul {
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }
        .inner .hero ul li {
            width: calc((100% - 20px)/2);
            margin-bottom: 20px;
            align-items: center;

            & .textbox {
                margin-top: 10px;
                padding-left: 10px;
                color: #fff;
            }
            & a img {
                width: 100%;
            }

            & mark {
                background-color: #f00;
                padding: 0 7px;
                color: #fff;
                font-size: 0.875rem;

                &.new {
                    background-color: #ff0;
                    color: #222;
                    font-size: 0.875rem;
                }
            }

            & span {
                display: block;
                margin-top: 5px;
                color: #666;
                font-size: 0.875rem;
            }

            & h3 {
                margin: 10px auto 5px;
                line-height: 1;
                font-size: 1.25rem;
            }

            & p {
                color: #46a487;
                font-size: 0.875rem;
            }
        }
        .inner .more a {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999;
            margin-top: 20px;
            font-size: 1rem;

            & i {
                margin-left: 10px;
            }
        }
    }
    #page4 {
        position: relative;
        margin: 60px 0;
        padding: 0 25px;

        .inner {
            /* position: relative; */
            width: 100%;
            z-index: -1;
        }
        .inner .pg4_logo {
            width: 40%;
            margin: 0 auto;
            text-align: center;
        }
        .inner .textbox {
            margin-top: 30px;
            color: #fff;
            text-align: center;

            & p {
                font-size: 1.125rem;
            }
            & span {
                font-size: 1.25rem;
                font-weight: 500;
            }
            & p.free {
                font-size: 0.875rem;
                color: #46a487;
                margin: 20px 0;
            }
        }
        .inner .play_now {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            padding: 0 10%;
        }
        .inner .play_now a {
            position: relative;
            /* margin: 0 20px; */

            img {
                display: block;
                object-fit: cover;
                margin: 0 auto;
                width: 450px;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
            }
            span p {
                white-space: nowrap;
                line-height: 1;
                font-size: 1rem;
                color: #fff;
                font-weight: 500;
            }
            i {
                position: absolute;
                font-size: 1.5rem;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
    #page5 {
        margin-bottom: 60px;

        .inner {
            width: 100%;
        }

        .inner .title a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 25px;
            color: #fff;
            margin-bottom: 15px;
            border-bottom: 2px solid #444;
            line-height: 2;

            span {
                font-size: 1.125rem;
                padding-left: 10px;
            }
            i {
                font-size: 1.125rem;
                padding-right: 10px;

            }
        }
        .inner .notice {
            width: 100%;
        }
        .inner .notice ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .inner .notice ul li {
            width: 90%;

            &:nth-child(2) a {
                background: url(../images/notice_icon2.png)no-repeat left center;
                filter: grayscale(100%);
                background-size: 1rem;

            }
        }
        .inner .notice ul li a {
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            line-height: 2;
            color: #999;
            font-weight: 300;
            background: url(../images/notice_icon.png)no-repeat left center;
            background-size: 1rem;
            margin-left: 1rem;
            font-size: 0.875rem;

            & span {
                display: block;
                margin-left: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 65%;
                /* padding-right: 30px; */
            }
        }
    }
    #page6 {
        /* margin-bottom: 30px; */
        /* padding: 0 25px; */
        background-color: #111;

        .inner {
            width: 100%;
        }
        .inner .dev {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 25px;
            border-bottom: 1px solid #222;

            & span {
                color: #fff;
                font-size: 0.875rem;
                font-weight: 600;
            }
            & a {
                width: 40px;
            }
        }
        .inner .community {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;

            & p {
                color: #999;
                font-size: 0.875rem;
            }
        }
        .inner .community ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .inner .community ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
        }
        .inner .community ul li {
            width: 40px;
        }
    }
}
footer {
    padding: 25px 25px 40px;

    .inner .company a {
        display: flex;
        /* width: 50%; */
        gap: 20px;
        margin-bottom: 40px;

        & img {
            width: 100px;
        }
        & img[alt="ci"] {
            width: 100px;
            height: 100%;
        }
    }
    .inner .use {
        display: flex;
        margin-bottom: 15px;
        font-weight: 500;

        & a {
            /* position: relative; */
            color: #999;
            padding-right: 10px;
            margin-right: 8px;

            &:last-child::after {
                display: none;
                padding: 0;
                margin: 0;
            }

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 13px;
                background-color: #666;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .inner .desc {
        font-size: 0.875rem;
        color: #999;
        margin-bottom: 25px;
    }
    .inner .language {
        margin-top: 25px;
        /* position: relative; */
    }
    .inner .language a {
        display: flex;
        justify-content: space-between;
        background-color: #333;
        color: #999;
        line-height: 40px;
        width: 160px;
        /* padding: 0 60px 0 10px; */
        padding-left: 10px;
        align-items: center;

        & img {
            /* display: block; */
            width: 10%;
            height: 10%;
            vertical-align: middle;
            margin-right: 10px;
            align-items: center;

            &.on {
                rotate: 180deg;
            }
        }

    }
    .inner .language ul {
        position: absolute;
        width: 100%;
        bottom: 40px;
        display: none;

        &.on {
            display: block;
        }
    }

}
